body {
    color:white;
    background-image: url(https://www.funnyart.club/uploads/posts/2022-02/1645081070_1-www-funnyart-club-p-fon-knizhnie-polki-dlya-fotoshopa-krasivo-1.jpg);
}

* {
    font-family: cursive;
}

p[align=center] {
    color: white;
    font-size: 32px;
}

.span1 {
    font-style: italic;
    text-transform: uppercase;
}


p + span {
    font-style: italic;
    font-size: 18px;
    text-decoration-style: solid;
}

.css1 { 
    list-style-type: disc;
}

#ul1 {
    list-style-type: square;
}

a {
    color: inherit;
}

a:hover {
    color: aqua;
}

.css1 > a {
    text-decoration-style: dashed;
}

#ul1 .css1 {
    font-weight: bolder;
}
